:root {
  color: black;
  --highlightColor: rgba(104, 134, 170, .4);
  --selectionColor: rgba(0, 0, 0, .1);
  --editorColor: rgb(0, 0, 0);
  --editorColor80: rgba(0, 0, 0, .8);
  --editorColor60: rgba(0, 0, 0, .6);
  --editorColor50: rgba(0, 0, 0, .5);
  --editorColor40: rgba(0, 0, 0, .4);
  --editorColor30: rgba(0, 0, 0, .3);
  --editorColor10: rgba(0, 0, 0, .1);
  --editorColor04: rgba(0, 0, 0, .04);
  --editorHeader1: #e5c07b;
  --editorHeader2: #e06c75;
  --editorHeader3: #98c379;
  --editorHeader4: #61afef;
  --editorHeader5: #d19a66;
  --editorHeader6: #c678dd;
  --editorliText: #e06c75;
  --editorBoldText: #e5c07b;
  --editorStrText: #c678dd;
  --editorBgColor: #f7f7f7;
  --deleteColor: #ff6969;
  --iconColor: rgba(150, 150, 150, .8);
  --codeBgColor: #FFFFFFB3;
  --codeBlockBgColor: #FFFFFFB3;
  --footnoteBgColor: rgba(0, 0, 0, .03);
  --inputBgColor: rgba(0, 0, 0, .06);
  --focusColor: var(--themeColor);
  --tableBorderColor: #e5e5e5;
  --itemBgColor: #f8f8f8;
  --floatBgColor: #f8f8f8;
  --floatHoverColor: #00000009;
  --floatBorderColor: #00000012;
  --maskColor: rgba(232, 232, 232, .8);
  --editorAreaWidth: 750px;
  --floatShadow: 0 8px 12px 0 rgba(0, 0, 0, .12);
}
